body{
	margin: 0;
}
.content{
	width: 280px;
	height: 400px;
	background-color: #ccc;
	margin: 10px auto;
	font-family: Arial;
	font-size: 12px;
}
.content .so1{
	background: green;
    margin: 10px;
    width: 260px;
}
.content .so1 .anh1{
	width: 234px;
	height: 40%;
	border: 3px solid #fff;
	margin-left: 10px;
	margin-top: 10px;
}
.content .so1 p{
	width: 92%;
	margin: 10px;
	color: #fff;
}
.content .so1 p a{
	width: 100%;
	text-decoration: none;
	color: #fff;
}
.content .so1 p a:hover{
	color: red;
}
.content .so2{
    width: 260px;
    height: 36%;
    background-color: #fff;
    margin: 10px;
    padding-top: 10px;
    float: left;
    margin-top: 0px;
}
.content .so2 ul{
	margin: 0px;
	padding: 0px;
}
.content .so2 ul li{
	list-style: none;
}
.content .so2 ul li img{
	float: left;
	width: 107px;
	height: 70px;
	margin-left: 10px;
	padding: 3px;
	border: 1px solid #ccc;
}
.content .so2 ul li p{
	float: left;
	width: 115px;
	height: 70px;
	margin-left: 10px;
	margin-top: 0px;
	color: #0d5e10;
	font-weight: bold;
}